{% extends '::base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/code-mirror.css') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('js/code-mirror.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/monokai.css') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('js/code-mirror2.js') }}"></script>
<style type="text/css">
	.CodeMirror {border: 1px solid black; font-size:13px}
</style>
<div class="toolbar-vertical">
	<div class="toolbar-group">
	    <a href="{{path('dashboard')}}" ><i class='icon-home'></i></a>
	    <a href="{{ path('editUser', {'id': self.getId()}) }}" ><i class='icon-user'></i></a>
	    <a href="{{path('logout')}}" ><i class='icon-exit'></i></a>
	</div>
	<div class="toolbar-group">
	    <a href="{{ path('showUsers') }}" ><i class='icon-arrow-left'></i></a>
	</div>
</div>

<section id='main-frame'>
	<div style='width: 500px; float: left;'>
		<form name="plugin" id='edit-plugin' method="POST" action="{{ path('editPlugin', {'id': plugin.id}) }}">
			<div class="input-control text">
		        <input type="text" id='name' name="name" value="{{ plugin.title }}" placeholder='{{ "Name" | trans }}' class="with-helper" required />
		        <button class="helper" onclick="return false"></button>
		    </div>
		 	<div class="input-control text">
		        <input type="text" name="slug" placeholder='{{ "Slug" | trans }}' value="{{ plugin.slug }}" class="with-helper" required />
		        <button class="helper" onclick='return false'></button>
		    </div>
		    <a href='http://metroui.org.ua/icons.php' target="_blank">{{ "Icon list" | trans }}</a>
		    <div class="input-control textarea">
			    <textarea id="code" name="style" style='resize: none;'>{{ plugin.style }}</textarea>
			</div>
		    <div class="input-control textarea">
		        <textarea name='description' id='description' placeholder='{{ "Body" | trans }}' style='resize: none;'>{{ plugin.description }}</textarea>
		    </div>
			<input type="submit" value='{{ "Send" | trans }}' />
		</form>
	</div>
	<div style='float: left; margin-left: 20px; min-width: 400px; max-width: 500px;'>
		<div style='clear: top'></div>
		<div id='display-preview'></div>
		<div style='clear: both'></div>
	</div>
</section>
<script type="text/javascript" src="{{ asset('scripts/edit-plugin.js') }}"></script>
{% endblock %}