{% extends '::base.html.twig' %}
{% block body %}
<div class="toolbar-vertical">
	<div class="toolbar-group">
	    <a href="{{path('dashboard')}}" ><i class='icon-home'></i></a>
	    <a href="{{ path('editUser', {'id': self.getId()}) }}" ><i class='icon-user'></i></a>
	    <a href="{{path('logout')}}" ><i class='icon-exit'></i></a>
	</div>
	<div class="toolbar-group">
	    <a href="javascript: window.history.back();" ><i class='icon-arrow-left'></i></a>
	</div>
</div>
<a href="/" ></a>

<link rel="stylesheet" href="{{ asset('css/show-users.css') }}" type="text/css" media="screen" />
<section id='main-frame'>
	<form name="user" method="POST" action="{{path('editUser', {'id': users.getId()})}}">
		<div class="input-control text">
	        <input type="text" name="email" value="{{users.getEmail()}}" placeholder='{{ "Email" | trans }}' class="with-helper" />
	        <button class="helper" onclick='return false'></button>
	    </div>
		<div class="input-control password">
	        <input type="password" name="password" placeholder='{{ "Password" | trans }}' value="" class="with-helper" />
	        <button class="helper" onclick='return false'></button>
	    </div>
	    <div class="input-control password">
	        <input type="password" placeholder='{{ "Password verif." | trans }}' value="" class="with-helper" />
	        <button class="helper" onclick='return false'></button>
	    </div>
	    <div class="input-control select">
			<select name="role">
				{% if users.getRoles().0 == 'ROLE_USER' %}
					<option value="ROLE_USER" selected>{{ "User" | trans }}</option>
				{% else %}
					<option value="ROLE_USER">{{ "User" | trans }}</option>
				{% endif %}
				{% if users.getRoles().0 == 'ROLE_ADMIN' %}
					<option value="ROLE_ADMIN" selected>{{ "Admin" | trans }}</option>
				{% else %}
					<option value="ROLE_ADMIN">{{ "Admin" | trans }}</option>
				{% endif %}
				{% if super_admin %}
					{% if users.getRoles().0 == 'ROLE_SUPER_ADMIN' %}
						<option value="ROLE_SUPER_ADMIN" selected>{{ "Super admin" | trans }}</option>
					{% else %}
						<option value="ROLE_SUPER_ADMIN">{{ "Super admin" | trans }}</option>
					{% endif %}
				{% endif %}
			</select>
		</div>
		<div class="input-control select">
			{{ plugins_form | raw }}
		</div>
		<input type="submit" value='{{ "Send" | trans }}' />
	</form>
</section>
<script src="{{ asset('scripts/jquery.quicksand.js') }}" type="text/javascript"></script>
<script src="{{ asset('scripts/show-users.js') }}" type="text/javascript"></script>
{% endblock %}