{% extends '::base.html.twig' %}
{% block body %}
<div class="toolbar-vertical">
    <a href="{{path('dashboard')}}" ><i class='icon-home'></i></a>
    <a href="{{ path('editUser', {'id': self.getId()}) }}" ><i class='icon-user'></i></a>
    <a href="{{path('logout')}}" ><i class='icon-exit'></i></a>
</div>
<link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" type="text/css" media="screen" />
	<section id="main-frame" class='tiles clearfix'>
		{% for plugin in plugins %}
            {% if plugin.getStyle() %}
                <a href="{{path(plugin.getSlug())}}">
                    {{plugin.getStyle()|raw}}
                </a>
            {% else %}
                <a href="{{path(plugin.getSlug())}}">
                    {{plugin.getName()}}
                </a>
            {% endif %}
    	{% endfor %}
    	<a href="{{ path('mail')}}">
                <div class="tile">
                    <div class="tile-content bg-color-yellow" style="text-align:center;">
                        <i class='icon-mail' style='font-size: 70px;'></i>
                        <strong>
                            <div class="brand" id='mail-notifier'>
                                
                            </div>
                        </strong>
                    </div>
                </div>
            </a>
        {% if admin %}
	    	<a href="{{ path('showUsers')}}">
                <div class="tile double" id="manage-users">
                    <div class="tile-content">
                        <i class='icon-user' style='font-size: 50px; float: left; margin-top: 8px;'></i>
                        <h3 style='margin-top: 28px;'>{{ "User manager" | trans }}</h3>
                        <br />
                        <small>{{ "User manager description" | trans }}</small>
                    </div>
                </div>
            </a>
    	{% endif %}
	</section>
    <script type="text/javascript">
        $(document).ready(function(){
            setInterval(checkMail(), 5000);
            function    checkMail(){
                $.ajax({
                    url: '{{ path("mail") }}',
                    dataType: 'json',
                    type: 'GET',
                    beforeSend: function(xhr){
                        $('#mail-notifier').html('<img width="18" src="{{ asset("images/preloader-w8-cycle-white.gif") }}" />');
                    },
                    success: function(data){
                        if (data.responseCode == 200){
                            switch(data.responseText.mailNumber){
                                case 0:
                                    $('#mail-notifier').html('No new message');
                                case 1:
                                    $('#mail-notifier').html(data.responseText.mailNumber+' new message');
                                default:
                                    $('#mail-notifier').html(data.responseText.mailNumber+' new messages');
                            }
                        }else{

                        }  
                    },
                    error: function(error){
                        $('#mail-notifier').html('An error occured!');
                    }
                })
            }
        });
    </script>
{% endblock %}
