{% extends '::base.html.twig' %}
{% block body %}

<link rel="stylesheet" href="{{ asset('css/loading.css') }}" type="text/css" media="screen" />

<section id="loading-area">
0%
<br />
Initializing.
</section>

<script src="{{ asset('scripts/loading.js') }}" type="text/javascript"></script>

{% endblock %}