{% extends '::base.html.twig' %}
{% block body %}

<link rel="stylesheet" href="{{ asset('css/authentication.css') }}" type="text/css" media="screen" />

<section id="login-form">
	<form action="{{ path('login_check') }}" method="post" id="auth-form">
	    <p><input type="text" id="email-field" name="_username" value="{{ last_username }}" /></p>
	    <p><input type="password" id="password-field" name="_password" /></p>
	    <input type='hidden' name="_target_path" value="_welcome" />
	    <p><input type="submit" class="signin-button" value="" /> <button class="lost-button"></button></p>
	</form>
</section>

{% endblock %}