<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title></title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('css/modern.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('css/modern-responsive.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="screen" />
        {% block javascripts %}
            <script src="{{ asset('scripts/jquery-min.js') }}" type="text/javascript"></script>
            <script type="text/javascript" src="{{ asset('js/utils.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/dropdown.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/accordion.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/buttonset.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/carousel.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/input-control.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/pagecontrol.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/rating.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/slider.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/tile-slider.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/tile-drag.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/dialog.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/accordion.js') }}"></script>

            <script src="{{ asset('scripts/extra.js') }}" type="text/javascript"></script>
        {% endblock %}
    </head>
    <body>
	    <header>
		    <div id="ceesto_logo">
			    <img src="{{ asset('images/ceesto_logo.png') }}" />
		    </div>
		    <div id="notification"></div>
		    <h1 id="page_title">
                {{title}}<br />
            </h1>
	    </header>
	    <div style="clear: both"></div>
        {% block body %}{% endblock %}
    </body>
</html>
