#valide-msg, #error-msg{
	font-size: 30px;
	position: absolute;
	border: 1px solid #000;
}

#valide-msg{color: #a3dea8;}
#error-msg{color: #c58282;}

section#login-form, section#lost-form{
	width: 455px;
	margin: 150px auto;
	text-align: center;
}

section#login-form #auth-form p,
section#lost-form #retrieve-form p{
	margin:5;
	padding:0;
}

input::-webkit-input-placeholder, input:-moz-placeholder {
   color: #e5e5e5;
}

.watermark{
	font-size: 43px;
	color: #e5e5e5;
}

section#login-form #auth-form p input, section#login-form #auth-form p button,
section#lost-form #retrieve-form p input, section#lost-form #retrieve-form p button{
	font-size: 43px;
	color: #7a7a7a;
	border: 0px;
	border-bottom: 1px solid #d9d9d9;
}

section#lost-form #retrieve-form p button.signin-button{
	border: 0px;
	background: url('../images/button-lost.png');
	margin:0px;
	padding:0px;
	width: 151px;
	height: 41px;
	cursor: pointer;
}

section#lost-form #retrieve-form p input.lost-button{
	border: 0px;
	background: url('../images/button-lost.png');
	margin:0px;
	padding:0px;
	width: 151px;
	height: 41px;
	cursor: pointer;
}

section#login-form #auth-form img{}
section#login-form #auth-form p input.signin-button{
	border: 0px;
	background: url('../images/button-signin.png');
	margin:0px;
	padding:0px;
	width: 151px;
	height: 41px;
	cursor: pointer;	
}
section#login-form #auth-form p button.lost-button{
	border: 0px;
	background: url('../images/button-lost.png');
	margin:0px;
	padding:0px;
	width: 151px;
	height: 41px;
	cursor: pointer;
}

section#login-form #auth-form p input.signin-button:hover, 
section#lost-form #retrieve-form p button.signin-button:hover{
	background-position:  0 -46px;
}
section#lost-form #retrieve-form p input.lost-button:hover,
section#login-form #auth-form p button.lost-button:hover{
	background-position: 0 -46px;
}

section#login-form #auth-form p img,
section#lost-form retrieve-form p img{
	margin: 10px;
	cursor: pointer;
}

section#lost-form{display: none;}