html, body{
	margin:0;
	padding: 0;
	background: #fff;
	font-family: Tahoma;
	color: #7a7a7a;
}

header #ceesto_logo{float: left;}
header #page_title{
	float: right;
	font-size: 36px;
	color: #d9d9d9;
	margin-right: 20px;
	margin-top: 10px;
	text-align: right;
}

header #notification{
	position: fixed;
	text-align: center;
	margin-left: 7px;
	display: none;
}

header #notification .notif-success{
	font-size: 12px;
	color:#1a8721;
}

header #notification .notif-error{
	font-size: 12px;
	color: #b64545;
}

header #notification .notif-neutral{
	font-size: 12px;
	color: #444;
}

section#main-frame{
	text-align: left;
	padding-left: 80px;
	padding-right: 80px;
}

.bg-forms{
	margin-top: 10px;
	box-shadow:inset 0 0 10px #000000;
	-moz-box-shadow:inset 0 0 10px #000000;
	padding-left: 70px;
	padding-right: 70px;
	background: url('../images/menu/bg-add.png');
	display: none;
}

.bg-forms h2{color: #ccc;}

div.toolbar-vertical{
	position: fixed;
	top: 100px;
	width: 70px;
}